body {
    background-color: $body-font-color;
}

h1 a {
    color: $header-font-color;

    &:hover {
        color: inherit;
    }
}

.upload-icon {
    font-size: 165px;

    @media #{$medium-up} {
        font-size: 365px;
    }

    &.fa-refresh {
        margin-bottom: 31px;
        line-height: 1;
        font-size: 135px;

        @media #{$medium-up} {
            margin-bottom: 33px;
            line-height: 1.25;
            font-size: 265px;
        }
    }

    position: relative;
    width: 100%;
}


input[type="file"] {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.heading {
    margin-top: 20px;
}

.subheading {
    margin-top: -16px;
    margin-left: 2px;
    margin-bottom: 20px;
}

.social {
    float: left;
    width: 100%;
}

.social > * {
    float: left;
    margin-right: 20px;
}

.fb_iframe_widget iframe {
    top: -7px;
}
